
    
    <!-- =========================================================================== -->
    <!-- Container 1 -->
    <!-- ============================================================================ -->
    
    <div class="row c1">

        <img src="assets/images/logo.svg" alt="" class="c1__1">

        <a href="#" class="c1__2">Descarga la guía práctica</a>
    </div>

    <!-- =========================================================================== -->
    <!-- Fin de Container 1 -->
    <!-- ============================================================================ -->
    

    
    <!-- =========================================================================== -->
    <!-- Container 2 -->
    <!-- =========================================================================== -->
    <div class="c2">

        <div style="display: flex; flex: 3; "></div>


        <div class="c2-1"> 
            <div class="c2-1__1">5</div>
            <img src="assets/images/amarillo.svg" frameborder="0"  >
        </div>

        <div style="display: flex; flex: 1;"></div>


        <div class="c2-2">
            <div class="c2-2__1">Pasos que te</div>
            <div class="c2-2__2" >ayudarán a validar</div>
            <div class="c2-2__3" >tu idea de negocio</div>
        </div>

        <div style="display: flex; flex: 2;"></div>

        <img src="assets/images/morado.png" frameborder="0" alt="risa-morada"  >
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 2 -->
    <!-- ============================================================================ -->


    <!-- =========================================================================== -->
    <!-- Container 3 -->
    <!-- ============================================================================ -->
    <div class="column c3">

        <div class="row c3__1">

            <img src="assets/images/miniatura.png" alt="" class="c3__1__1">

            <div class="column c3__1__2">

                <img src="assets/images/sm-youtube.svg" alt="" class="c3__1__2__1">

                <img src="assets/images/sm-instagram.svg" alt="" class="c3__1__2__1">

                <img src="assets/images/sm-facebook.svg" alt="" class="c3__1__2__1">

                <img src="assets/images/sm-linkedin.svg" alt="" class="c3__1__2__1">

            </div>

        </div>

        <img src="assets/images/3-puntos.svg" alt="" class="c3__2">

    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 3 -->
    <!-- ============================================================================ -->
    



    <!-- =========================================================================== -->
    <!-- Container 4 -->
    <!-- ============================================================================ -->
    <div class="c4">

        <div class="c4-1">

            <!-- <div style="flex: 1;"></div> -->
            <div style="width: 40.0625vw;"></div>

            <div class="c4-1__1">
                <h3>01</h3>
                <h4>Capítulo</h4>
            </div>


            <img src="assets/images/gris.svg" alt="">

            <div style="width: 24.1875vw;"></div>


        </div>

        <div class="c4-2">

            <div class="c4-2__2" ></div>


            <img src="assets/images/svg-c-1.svg" alt="">

            <div class="c4-2__3" ></div>

            <div class="c4-2__1">
                <h3 class="c4-2__texto2">Antes de tomar acción</h3>
                <h3 class="c4-2__texto3">asegurate de comprender a</h3>
                <h3 class="c4-2__texto3">tu cliente</h3>
            </div>

            <div class="c4-2__4" ></div>

        </div>


        <div class="c4-3">

            <div class="c4-3__1" ></div>

            <img src="assets/images/img-c-1.png" class="c4-3__2" alt="Capitulo 1">

            <div class="c4-3__3" ></div>


        </div>

        <div class="c4-4" >

            <div class="c4-4__1"></div>

            <div class="c4-4__2">
                <h2 class="c4-4__3">Descarga la guía práctica</h2>
                <p class="c4-4__4">de los 5 pasos que te apoyarán a validar</p>
                <div class="c4-4__5">
                    <p class="c4-4__5__1">tu idea de negocio </p> &nbsp;
                    <p class="c4-4__5__2"> y aplica lo que has</p>
                </div>
                <p class="c4-4__6">aprendido en tu emprendimiento</p>
            </div>

            <div class="c4-4__7"></div>

            <button class="c4-4__8">Descargar</button>

            <div style="width: 20vw;"></div>
        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 4 -->
    <!-- ============================================================================ -->


    <!-- =========================================================================== -->
    <!-- Container 5 -->
    <!-- ============================================================================ -->
    <div class="column c5">

        <div class="row c5__2">

            <div class="column c5__2__1">

                <h3 class="c5__2__1__1">02</h3>

                <h3 class="c5__2__1__2">Capítulo</h3>

            </div>

            <div class="column c5__3">

                <img src="assets/images/svg-c-2.svg" alt="" class="c5__3__1">

                <h3 class="c5__3__2">Asegúrate de tener</h3>

                <h3 class="c5__3__2">claramente definida </h3>

                <h3 class="c5__3__3">la necesidad de tu cliente</h3>

            </div>

            <img src="assets/images/gris.svg" alt="" class="c5__4">
        </div>

        <img src="assets/images/img-c-2-8.png" alt="" class="c5__5">


        <div class="row c5__6">

            <div class="column c5__6__1">

                <h3 class="c5__6__1__1">Si aún no has descargado</h3>
                
                <h3 class="c5__6__1__2">la guía, es momento de hacerlo</h3>

                <h3 class="c5__6__1__3">para que apliques lo que has aprendido en tu</h3>

                <h3 class="c5__6__1__3">emprendimiento.</h3>
            </div>

            
            <button class="c4-4__8 ">Descargar</button>
        </div>

    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 5 -->
    <!-- ============================================================================ -->


    <!-- =========================================================================== -->
    <!-- Container 6 -->
    <!-- ============================================================================ -->
    
    <div class="c6">
        <h3 class="c6-1">03</h3>
        <h3 class="c6-2">Capítulo</h3>
        
        <div class="c6-3"> 

            <img src="assets/images/svg-c-3.svg" alt="Capitulo 3">

            <div class="c6-3__1">

                <h3 class="c6-3__1__1">Desarrolla prototipos</h3>

                <div class="c6-3__1__2">

                    <h3 class="c6-3__1__2__1">de tu producto</h3>

                    <img src="assets/images/gris.svg"  alt="">
                </div>
            </div>
        </div>

        <div class="c6-4">
            <img src="assets/images/img-c-3-8.png" alt="">
        </div>

        <div class="c6-5">

            <div class="c6-5__1">

                <h3 class="c6-5__1__1">Recuerda que la guía</h3>
                
                <div class="c6-5__1__2">

                    <h3 class="c6-5__1__2__1">te permitira aplicar los 5 pasos</h3> &nbsp;
                    <h3 class="c6-5__1__2__2">en</h3>    
                </div>

                <h3 class="c6-5__1__3">tu emprendimiento. Si aún no la</h3>
                
                <h3 class="c6-5__1__3">descargas es momento de hacerlo.</h3>
            </div>

            <button class="c4-4__8 c6-5__2">Descargar</button>
        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 6 -->
    <!-- ============================================================================ -->
    

    <!-- =========================================================================== -->
    <!-- Container 7 -->
    <!-- ============================================================================ -->
    <div class="column c7">

        <img src="assets/images/3-puntos-gris.svg" alt="" class="c7__1">

        <div class="row c7__2">


            <div class="column c7__2__1">

                <h3 class="c7__2__1__1">
                    04
                </h3>

                <h3 class="c7__2__1__2">
                    Capítulo
                </h3>
            </div>

            <div class="column c7__2__2">

                <img src="assets/images/svg-c-4.svg" alt="" class="c7__2__2__1">

                <h3 class="c7__2__2__2">Permite a tus clientes</h3>

                <h3 class="c7__2__2__3">user tu prototipo</h3>

            </div>

            <img src="assets/images/gris.svg" alt="" class="c7__2__3">

        </div>

        <img src="assets/images/img-c-4-8.png" alt="" class="row c7__3">

        <div class="row c7__4">

            <div class="column c7__4__1">

                <h3 class="c7__4__1__1">Descarga la guía práctica</h3>
                
                <h3 class="c7__4__1__2">de los 5 pasos que te apoyarán a validar</h3>

                <h3 class="c7__4__1__3">tu idea de negocio <span>y aplica lo que has </span> </h3>

                <h3 class="c7__4__1__4">aprendido en tu emprendimiento.</h3>
                
            </div>

            
            <button class="c4-4__8 ">Descargar</button>
        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 7 -->
    <!-- ============================================================================ -->
    

    
    <!-- =========================================================================== -->
    <!-- Container 8 -->
    <!-- ============================================================================ -->
    <div class="c8">

        <h3 class="c8__1">05</h3>
        <h3 class="c8__2">Capítulo</h3>

        <div class="c8__3">

            <img src="assets/images/svg-c-5.svg" alt="">

            <div class="c8__3__1">

                <h3 class="c8__3__1__1">Aprende y ajusta</h3>
                
                <div class="c8__3__1__2">

                    <h3 class="c8__3__1__2__1">tu producto</h3>

                    <img src="assets/images/gris.svg" alt="">
                </div>
            </div>

        </div>

        <div class="c8__4">
            <img src="assets/images/img-c-5-8.png" alt="">
        </div>

        <div class="c8__5">

            <div class="c8__5__1">

                <h3 class="c8__5__1__1">Pon en practica lo aprendido</h3>
                <h3 class="c8__5__1__2">y descarga la guía de los 5 pasos que te </h3>
                <h3 class="c8__5__1__2">apoyarán a validar tu idea de negocio.</h3>
                <h3 class="c8__5__1__3">Déjanos tus datos y la recibirás en tu correo</h3>
                <h3 class="c8__5__1__3">electrónico.</h3>
                
            </div>

            <button class="c4-4__8 ">Descargar</button>


        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 8 -->
    <!-- ============================================================================ -->

    
    
    <!-- =========================================================================== -->
    <!-- Container 9 -->
    <!-- ============================================================================ -->
    <div class="c9">

        
        <img src="assets/images/amarillo.svg" alt="" class="c9__4">
        <form  autocomplete="off" class="c9__1" [formGroup]='forma' (ngSubmit)='guardar()'>
            
            <h3 class="c9__2">Contáctanos</h3>   
            <div class="c9__3"></div>   

            
            <label for="nombre" class="c9__5 ">Nombre completo</label>
            <input  type="text" 
                    formControlName='nombre'
                    [class.error]='nombreNoValido'
                    class="c9__6 ">    

            
            <label for="email" class="c9__5 ">Correo eléctronico</label>
            <input  type="email"
                    formControlName='correo'
                    [class.error]='correoNoValido'
                     class="c9__6 ">    

            
            <label for="celular" class="c9__5 ">Celular</label>
            <input  type="tel" 
                    formControlName='telefono'
                    [class.error]='telefonoNoValido'
                    class="c9__6 ">    
        
            
            <h3 class="c9__7">¿Qué temas te gustaría aprender para
                aplicar en tu emprendimiento?</h3>

            <div class="column c9__7">
    
                <input type="checkbox" name="Finanzas" id="Finanzas" value="Finanzas" >
                <label class="c9__7__1" for="Finanzas">Finanzas</label>

                
                <input type="checkbox" name="Marketing" id="Marketing" value="Marketing" >
                <label class="c9__7__1" for="Marketing">Marketing</label>

                
                <input type="checkbox" name="Ventas" id="Ventas" value="Ventas" >
                <label class="c9__7__1" for="Ventas">Ventas</label>

                
                <input type="checkbox" name="Impuestos" id="Impuestos" value="Impuestos" >
                <label class="c9__7__1" for="Impuestos">Impuestos</label>

                
                <input  type="checkbox" 
                        name="Talento humano" 
                        id="Talento humano"
                        formControlName='Talento humano'
                        value="Talento humano" >
                <label class="c9__7__1" for="Talento humano">Talento humano</label>

                
                <input  type="checkbox" 
                        name="Desarrollo personal" 
                        id="Desarrollo personal" 
                        formControlName='Desarrollo personal'
                        value="Desarrollo personal" >
                <label class="c9__7__1" for="Desarrollo personal">Desarrollo personal</label>

                
                <input  type="checkbox" 
                        name="Acepto los términos y condiciones" 
                        id="Acepto los términos y condiciones" 
                        value="Acepto los términos y condiciones" 
                        formControlName='acceptTerms'>
                <label class="c9__7__1 terminos" for="Acepto los términos y condiciones">Acepto los términos y condiciones</label>

                <span style="margin-top: 10px; color: #E7316C;" *ngIf="termsNoValid">Por favor acepte los terminos</span>

                <button type="submit" class="btn-form">Enviar</button>
            </div>
        </form>


    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 9 -->
    <!-- ============================================================================ -->


    <!-- =========================================================================== -->
    <!-- Container 10 -->
    <!-- ============================================================================ -->
    <div class="c10">

        <img src="assets/images/svg-c-10.svg" alt="" class="c10__1">

        <h3 class="c10__2">Conéctate con nuestro ecosistema</h3>

        <h3 class="c10__3">y no pares nunca de aprender.</h3>

        <div class="c10__4">

            <img src="assets/images/sm-m-instagram.svg" alt="Instagram" class="c10__4__1">
            <img src="assets/images/sm-m-facebook.svg" alt="Facebook" class="c10__4__1">
            <img src="assets/images/sm-m-linkedin.svg" alt="Linkedin" class="c10__4__1">
        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 10 -->
    <!-- ============================================================================ -->
    

    
    <!-- =========================================================================== -->
    <!-- Container 11 -->
    <!-- ============================================================================ -->
    <div class="c11"> 

        <img src="assets/images/pyndele-blanco.svg" alt="" class="c11__1">

        <!-- Row -->
        <div class="c11__2">

            <div style="flex: 3;"></div>

            <h3 class="c11__2__1">Copyright © Pyndele 2020 -Todos los derechos reservados</h3>
            
            <div style="flex: 6;"></div>

            <h3 class="c11__2__1">Términos y condiciones</h3>
            <div style="flex: 1;"></div>
            <h3 class="c11__2__1">Políticas de privacidad</h3>
            <div style="flex: 1;"></div>
            <h3 class="c11__2__1">Política de cookies</h3>

            <div style="flex: 3;"></div>
            
        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 11 -->
    <!-- ============================================================================ -->

    
    <!-- =========================================================================== -->
    <!-- Container 12 -->
    <!-- ============================================================================ -->
    <div class="c12">

        <img src="assets/images/logo.svg" alt="" class="c12__1">
        
        <!-- Row -->
        <div class="c12__2"> 

            <!-- Stack img -->

            <img src="assets/images/gris-2.svg" alt="" class="c12__2__0">

            <!-- Colum -->
            <div class="c12__2__1">

                <h3 class="c12__2__1__1">Gracias por descargar</h3>

                <h3 class="c12__2__1__2">la guía para poner en</h3>
                
                <h3 class="c12__2__1__3">práctica los 5 pasos</h3>

                <h3 class="c12__2__1__4">que te apoyarán a validar tu</h3>

                <h3 class="c12__2__1__4">idea de negocio.</h3>

            </div>

            <img src="assets/images/img-p-2-8.png" alt="" class="c12__2__2">
        </div>

        <h3 class="c12__3">Conoce más de nosotros.</h3>

        <button class="c12__4">Inicio</button>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 12 -->
    <!-- ============================================================================ -->

    
    <!-- =========================================================================== -->
    <!-- Container 13 -->
    <!-- ============================================================================ -->
    <div class="c13"> 

        <!-- Row -->
        <div class="c13__1">

            <!-- Colum -->
            <div class="c13__1__1">

                <h3 class="c13__1__1__1">Si te gustó este contenido,</h3>
                <h3 class="c13__1__1__2">estamos seguros</h3>
                <h3 class="c13__1__1__3">que lo que encontrarás en</h3>
                <h3 class="c13__1__1__3">nuestra plataforma te</h3>
                <h3 class="c13__1__1__3">encantará.</h3>


            </div>

            <img src="assets/images/gris.svg" alt="" class="c13__1__2">


        </div>

        <img src="assets/images/3-puntos.svg" alt="" class="c13__2">


    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 13 -->
    <!-- ============================================================================ -->
    

    <!-- =========================================================================== -->
    <!-- Container 14 -->
    <!-- ============================================================================ -->
    <div class="c14"> 

        <img src="assets/images/img-p-2-2-8.png" alt="" class="c14__1">
        
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 14 -->
    <!-- ============================================================================ -->
    

    <!-- =========================================================================== -->
    <!-- Container 11 -->
    <!-- ============================================================================ -->
    <div class="c11"> 

        <img src="assets/images/pyndele-blanco.svg" alt="" class="c11__1">

        <!-- Row -->
        <div class="c11__2">

            <div style="flex: 3;"></div>

            <h3 class="c11__2__1">Copyright © Pyndele 2020 -Todos los derechos reservados</h3>
            
            <div style="flex: 6;"></div>

            <h3 class="c11__2__1">Términos y condiciones</h3>
            <div style="flex: 1;"></div>
            <h3 class="c11__2__1">Políticas de privacidad</h3>
            <div style="flex: 1;"></div>
            <h3 class="c11__2__1">Política de cookies</h3>

            <div style="flex: 3;"></div>
            
        </div>
    </div>
    <!-- =========================================================================== -->
    <!-- Fin de Container 11 -->
    <!-- ============================================================================ -->
