<div class="c12">

    <img src="assets/images/logo.svg" alt="" class="c12__1" routerLink=''>
    
    <!-- Row -->
    <div class="c12__2"> 

        <!-- Stack img -->

        <img src="assets/images/gris-2.svg" alt="" class="c12__2__0">

        <!-- Colum -->
        <div class="c12__2__1">

            <h3 class="c12__2__1__1">Gracias por descargar</h3>

            <h3 class="c12__2__1__2">la guía para poner en</h3>
            
            <h3 class="c12__2__1__3">práctica los 5 pasos</h3>

            <h3 class="c12__2__1__4">que te apoyarán a validar tu</h3>

            <h3 class="c12__2__1__4">idea de negocio.</h3>

        </div>

        <img src="assets/images/img-p-2-8.png" alt="" class="c12__2__2">
    </div>

    <h3 class="c12__3">Conoce más de nosotros.</h3>

    <button class="c12__4">Inicio</button>
</div>
<!-- =========================================================================== -->
<!-- Fin de Container 12 -->
<!-- ============================================================================ -->


<!-- =========================================================================== -->
<!-- Container 13 -->
<!-- ============================================================================ -->
<div class="c13"> 

    <!-- Row -->
    <div class="c13__1">

        <!-- Colum -->
        <div class="c13__1__1">

            <h3 class="c13__1__1__1">Si te gustó este contenido,</h3>
            <h3 class="c13__1__1__2">estamos seguros</h3>
            <h3 class="c13__1__1__3">que lo que encontrarás en</h3>
            <h3 class="c13__1__1__3">nuestra plataforma te</h3>
            <h3 class="c13__1__1__3">encantará.</h3>


        </div>

        <img src="assets/images/gris.svg" alt="" class="c13__1__2">


    </div>

    <img src="assets/images/3-puntos.svg" alt="" class="c13__2">


</div>
<!-- =========================================================================== -->
<!-- Fin de Container 13 -->
<!-- ============================================================================ -->


<!-- =========================================================================== -->
<!-- Container 14 -->
<!-- ============================================================================ -->
<div class="c14"> 

    <!-- <img src="assets/images/img-p-2-2-8.png" alt="" class="c14__1"> -->
    <iframe src="https://player.vimeo.com/video/516863341" class="c14__1 video" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
    
</div>
<!-- =========================================================================== -->
<!-- Fin de Container 14 -->
<!-- ============================================================================ -->


<!-- =========================================================================== -->
<!-- Container 11 -->
<!-- ============================================================================ -->
<div class="c11"> 

    <img src="assets/images/pyndele-blanco.svg" alt="" class="c11__1">

    <!-- Row -->
    <div class="c11__2">

        <div style="flex: 3;"></div>

        <h3 class="c11__2__1">Copyright © Pyndele 2020 -Todos los derechos reservados</h3>
        
        <div style="flex: 6;"></div>

        <h3 class="c11__2__1">Términos y condiciones</h3>
        <div style="flex: 1;"></div>
        <h3 class="c11__2__1">Políticas de privacidad</h3>
        <div style="flex: 1;"></div>
        <h3 class="c11__2__1">Política de cookies</h3>

        <div style="flex: 3;"></div>
        
    </div>
</div>
<!-- =========================================================================== -->
<!-- Fin de Container 11 -->
<!-- ============================================================================ -->
